@import url("https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:wght@400;500;600;700&display=swap");

:root {
  // FONTS
  --font-main: "Poppins", sans-serif;
  --font-secondary: "Nova Mono", monospace;
  //COLOURS
  --dark-blue: rgb(14, 12, 49);
  --light-blue: rgba(1, 49, 71, 255);
  --dark-gold: rgb(102, 90, 67);
  --light-gold: rgb(176, 144, 83);
  --dark-grey: rgb(51, 51, 51);
  --white: rgb(255, 255, 255);
  --off-white: rgb(229, 229, 229);
  --light-green: rgb(70, 255, 211);
  --dark-green: rgb(53, 238, 194);
  --light-red: rgb(255, 153, 153);
  --dark-red: rgb(219, 0, 0);
}
